@CHARSET "ISO-8859-1";


.addevento{
	background-color: #E6E6E6;
    width: 800px;
    margin-bottom: 20px;
    display: block;
    border-radius:5px;
   
}
.editorBoton{
	    text-decoration: none;
    padding: 5px 5px 5px 4px;
    color: #fff;
    font-weight: 700;
    background-color: #424242;
    border-radius: 5px;
    margin-top: 5px;
    border-color: gray;
    border-style: solid;
    border-width: 2px;
}
#parteUno{
	height:55px;
}
#parteDos{
	height:190px;
}
#parteTres{
	height:200px;
}
#parteCuatro{
	height:50px;
}
textarea#textarea1 {
    width: 790px;
    margin-left: 3px;
}