
#formNuevo input{
	border-radius: 5px;
	margin-left:20px;
}

#formNuevo{
    margin-top: 19px;
    margin-left: 300px;
 
}

.crea-cuenta input{
	width: 152px;
	display: inline;
	padding: 5px 5px 5px 4px;
	color: #fff;
	font-weight: 700;
	position: relative;
	background-color: #424242;
	border-radius: 5px;
    margin-bottom: 3px;
    margin-left:20px;
    border-color: gray;
    border-style: solid;
    border-width: 2px;
    
    
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
.crea-cuenta input:hover{
	background-color: black;
	color: #fff;
}
#nota-informativa {
	padding:5px; /*Espaciado interno*/
	width:250px; /*Ancho del contenedor*/
	height: 150px;
	text-align:center; /*Alineación del texto*/
	background-color:#FFEE88; /*Color de fondo*/
	position:fixed; /*Permite que se mantenga estático*/
	display:none; /*Oculta el contenedor*/
	left:340px; /*Separación del borde izquierdo*/
	top:280px; /*Separación inferior del borde*/
	box-shadow:0 0 5px #555; /*Sombras CSS3*/
}